[submodule "std-modules"]
	path = std-modules
	url = https://github.com/dsnopek/puppet-std-modules.git
[submodule "modules/mvpcreator"]
	path = modules/mvpcreator
	url = https://github.com/dsnopek/puppet-mvpcreator.git
